* { 
    padding:0;
    margin:0;
  }


.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: aqua;

}

.nav-list li {
    display: inline-block;
    justify-content: flex-end;
    padding: 5px;
    margin: 15px;
   
}

.nav-list li a {
    text-decoration:none;
    }
    

